<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Transfer</title>
</head>

<body>
    <header class='header flex-container'>
        <div class='menu-logo-container'>
            <div class='dropdown'>
                <div class='menu-container' onclick='menuBarAnimation(this)'>
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div id="myDropDown" class="dropdown-content">
                    <a href="/dashboard">Dashboard</a>
                    <a href='/create_recipient'>Create Recipient</a>
                    <a href="/transfer_funds">Transfer Funds</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <a href="/dashboard" class="previousIcon anchor-tag logo">←</a>
            <a href='/dashboard' class='anchor-tag logo'>BakeFlake</a>
        </div>
        <nav class='flex-container justify-right'>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href='/create_recipient'>Create Recipient</a></li>
                <li><a href="/transfer_funds">Transfer Funds</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class='call-to-action'>Initiate Bulk Transfer</h1>
        <section id='post-ad-container' class='bulk-transfer-1'>
            <form class='form-structure' id="form-bulk-transfer-1">
                <h2 class='form-headers'>Choose number of recipients</h2>
                <div>
                    <label for='recipient_number'>Number of recepients</label>
                    <input type='number' required name='recipient_number' id='recipient_number'>
                </div>
                <button class='button'>SELECT</button>
            </form>
        </section>

        <section id='post-ad-container' class='bulk-transfer-2'>
            <form class='form-structure' id="form-bulk-transfer-2">
                <h2 class='form-headers'>TRANSFER DETAILS</h2>
                <div>
                    <label for='recipient1'>Recipient</label>
                    <select name='recipient1' id="recipient1" required>
                        <option value=''></option>
                    </select>
                    <label for='amount1'>Amount (Minimum Transfer - N50)</label>
                    <input type='number' required name='amount1' id='amount1'>
                </div>
                <div>
                    <label for='recipient2'>Recipient</label>
                    <select name='recipient2' id='recipient2' required>
                        <option value=''></option>
                    </select>
                    <label for='amount2'>Amount (Minimum Transfer - N50)</label>
                    <input type='number' required name='amount2' id='amount2'>
                </div>
                <button class='button'>TRANSFER</button>
            </form>
        </section>
    </main>
    <div id="loaderModal" class="modal">
        <div class="modal-content filter loader">
            
        </div>
    </div>
    <script src="Js/bulk_transfer.js"></script>
</body>

</html>