<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Transfer</title>
</head>

<body>
    <header class='header flex-container'>
        <div class='menu-logo-container'>
            <a href="/" class="previousIcon anchor-tag logo">←</a>
            <a href='/' class='anchor-tag logo'>BakeFlake</a>
        </div>
    </header>
    <main>
        <h1 class='call-to-action'>Initiate Transfer</h1>
        <section id='post-ad-container'>
            <form class='form-structure'>
                <h2 class='form-headers'>TRANSFER DETAILS</h2>
                <div>
                    <label for='recipient'>Recipient</label>
                    <select name='recipient' required>
                        <option value=''></option>
                    </select>
                </div>
                <div>
                    <label for='amount'>Amount (Minimum Transfer - N50)</label>
                    <input type='number' required name='amount' id='amount'>
                </div>
                <div>
                    <label for='reason'>Reason</label>
                    <textarea required name='reason' id='reason'></textarea>
                </div>
                <h5 class="call-to-action">There will be a N50 charge</h5>
                <button class='button'>TRANSFER</button>
            </form>
        </section>
    </main>
    <div id="loaderModal" class="modal">
        <div class="modal-content filter loader">
            
        </div>
    </div>
    <script src="Js/sign_in.js"></script>
</body>

</html>